body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/* y terminan con */
.carousel-container {
  position: relative;
  width: 80%;
  max-width: 800px;
  overflow: hidden;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
}

.carousel {
  display: flex;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.carousel-item {
 height: 500px;
 width: 800px;
 position: relative;

}

.carousel-button {
  position: absolute;
  top: 50%;
  
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}